body {
    background: #FFF url(../images/background.jpg) no-repeat;
    background-size: cover;
    color: #FFF;
}


/**
    Type
*/
h1,h2,h3,h4{
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    color: #ff5b02;
}


/**
    Structure
*/

header .row{
    padding: 30px 0;
}
header .row h1{
    margin: 0;
}
header .row h1 a,
header .row h1 a:hover,
header .row h1 a:active,
header .row h1 a:focus{
    color: #ff5b02;
    text-decoration: none;
}
.shaded{
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.post{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 10px;
}
.post h3{
    margin: 0 0 10px;
}
.post h3 a,
.post h3 a:hover,
.post h3 a:active,
.post h3 a:focus{
    color: #ff5b02;
    text-decoration: none;
}
.post .date{
    font-size: 0.8em;
}
ul.post{
    list-style: none;
}
.margin-bottom-10{
    margin-bottom: 10px
}
.margin-bottom-20{
    margin-bottom: 20px
}
.margin-bottom-30{
    margin-bottom: 30px
}
.margin-bottom-40{
    margin-bottom: 40px
}
.block{
    display: block;
}


/**
    Buttons
*/
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #ff5b02;
    border-color: #ff5b02;
}

/**
    Errors, messages
*/
.errors{
    color: #F00;
    line-height: 1.2em;
    font-style: italic;
}
.message{
    color: #00d000;
    line-height: 1.2em;
    font-style: italic;
}